<% provide(:title, 'Sign up') %>
<div class="login_page">
    <div class="middle-box text-center loginscreen   animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">IN+</h1>

            </div>
            <h3>Register to Earnings Reports</h3>
            <p>Create account to see it in action.</p>

            <%= form_for @user, :html => {:class => "m-t" } do |f| %>
            	<%= render 'shared/error_messages' %>
            	<div class="form-group">
            		<%= f.text_field :name, class: "form-control", :placeholder => "Name", :required => true %>
            	</div>
            	<div class="form-group">
            		<%= f.text_field :email, class: "form-control", :placeholder => "abc@example.com", :required => true %>
            	</div>
            	<div class="form-group">
            		<%= f.password_field :password, class: "form-control", :placeholder => "password", :required => true %>
            	</div>
            	<div class="form-group">
            		<%= f.password_field :password_confirmation, class: "form-control", :placeholder => "confirm password", :required => true %>
            	</div>
           		<%= f.submit "Register", class: "btn btn-primary block full-width m-b" %>
           	<% end %>
            <p class="text-muted text-center"><small>Already have an account?</small></p>
            <%= link_to "Login", login_path, class: "btn btn-sm btn-white btn-block" %>
        </div>
    </div>
</div>

