 <div class="zoesh_box_image">
     <a href="<%= @product.first.detail_page_url %>"><img src="<%= @asin_products.photo %>"></a>
  </div>
 <div class="zoesh_box_desc">
      <span class="product-price">
         <% if  @product.first.item_attributes.list_price %>
         <%=  @product.first.item_attributes.list_price.formatted_price %> 
         <% else %>
         Click to see!
         <% end %>
      </span>
    <small class="text-muted"><%= @product.first.item_attributes.brand %></small>
    <a href="<%= @product.first.detail_page_url %>" class="product-name"> <%= @product.first.item_attributes.title %></a>

    <div class="small m-t-xs">
        
    </div>
    <div class="row pull-right favor_bar">
       <button class="btn btn-danger btn-circle btn-outline" type="button"><i class="fa fa-heart"></i>
       </button>
       <a href="<%= @product.first.detail_page_url %>" class="btn btn-xs btn-outline btn-info">Add to Cart</i></a>
    </div>
 </div>