<% @items.each_with_index do |item, index| %>
  <% if index % 3 == 0 %>
    <div class="row">
  <% end %>
      <div class="zoesh_box col-lg-4">
         <div class="zoesh_box_image">
         		<a href="/products/<%= @photos[index].asin %>"><img src="<%= @photos[index].photo %>"></a>
         </div>
         <div class="zoesh_box_desc">
               <span class="product-price">
                  <% if item.item_attributes.list_price %>
                  <%= item.item_attributes.list_price.formatted_price %> 
                  <% else %>
                  Click to see!
                  <% end %>
               </span>
             <small class="text-muted"><%= item.item_attributes.brand %></small>
             <a href="<%= item.detail_page_url %>" class="product-name product_title"> <%= item.item_attributes.title %> </a>

             <div class="small m-t-xs">
                 
             </div>
             <div class="row pull-right favor_bar">
             		<button class="btn btn-danger btn-circle btn-outline" type="button"><i class="fa fa-heart"></i>
                 </button>
                 <a href="<%= item.detail_page_url %>" class="btn btn-xs btn-outline btn-info">Add to Cart</i></a>
             </div>
          </div>
     </div>
  <% if (index + 1) % 3 == 0 || index + 1 == @items.count %>
   </div>
   <div class="layout_block"></div>
  <% end %>
<% end %>
