<div class="row border-bottom white-bg">
    <nav class="navbar navbar-static-top" role="navigation">
    <div class="navbar-header">
        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
            <i class="fa fa-reorder"></i>
        </button>
        <a href="<%= root_path %>" class="navbar-brand">Options</a>
    </div>
    <div class="navbar-collapse collapse" id="navbar">
        <ul class="nav navbar-nav">
            <li class="active">
                <a aria-expanded="false" role="button" href="<%= root_path %>"> Home </a>
            </li>
            <li>
            <a aria-expanded="false" role="button" href="<%= root_path %>#earnings"> Earnings Report </a>
            </li>
            <li>
            <a aria-expanded="false" role="button" href="<%= root_path %>#current_pain"> Current Pain </a>
            </li>
            <li>
            <a aria-expanded="false" role="button" href="<%= root_path %>#golden"> 5/10 SMA Golden Cross </a>
            </li>
            <li>
            <a aria-expanded="false" role="button" href="<%= root_path %>#death"> 5/10 SMA Death Cross </a>
            </li>
        </ul>
        <ul class="nav navbar-top-links navbar-right">
            <form role="search" class="navbar-form-custom" method="post" action="">
                <div class="form-group">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search"/>
                </div>
            </form>
        </ul>
<!--     <ul class="nav navbar-top-links navbar-right">
        <li>
            <a href="#">
                <i class="fa fa-sign-out"></i> Log out
            </a>
        </li>
    </ul> -->
</div>
        </nav>
        </div>